@import "tailwindcss";

@theme {
  --color-primary: #056c5c;
  --color-primary-light: #0a8f7a;
  --color-primary-dark: #034036;
  --color-accent: #d4af37;

  --color-background-light: #f9fafb;
  --color-background-dark: #0b1914;

  --font-sans: var(--font-inter);
  --font-arabic: var(--font-amiri-quran);
}

:root {
  --background: var(--color-background-light);
  --foreground: #111827; /* gray-900 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-background-dark);
    --foreground: #f9fafb; /* gray-50 */
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
